@use '../../variables';
@import 'include-media/dist/_include-media.scss';

$breakpoints: variables.$resolution-breakpoints;

.table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;

    color: #7a7a7a;
    background-color: white;

    font-size: 85%;

    thead {
        background-color: variables.$background-colour;
        font-size: 85%;
    }

    tbody tr {

        td {
            // align text
            text-align: center;
            white-space: nowrap;

            // text padding based on screen width
            @include media(">phone") {
                padding: 0.75rem 1rem;
            }

            @include media("<=phone") {
                padding: 0.75rem 0.5rem;
            }
            

            &:nth-child(5) {
                text-align: left;
                width: 25rem;
            }

            &:nth-child(6),
            &:nth-child(11),
            &:nth-child(12) {
                text-align: right;
            }


            // position column width
            &:nth-child(2) {
                padding: 0 0.25rem 0;
            }

            // arrow column width
            &:nth-child(3) {
                padding: 0;
            }


            // highlighted columns
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(6),
            &:nth-child(12) {
                color: black;
            }
        }

        // colour placements (ucl, uel, uecl, relpo, rel)
        .colouredCell {
            width: 3px;
            padding: 0;
        }

        // ucl
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            .colouredCell {
                background-color: green;
            }
        }

        // uel
        &:nth-child(5) {
            .colouredCell {
                background-color: #4bcffc;
            }
        }

        // uecl
        &:nth-child(6) {
            .colouredCell {
                background-color: #95e3fd;
            }
        }

        // relpo
        &:nth-child(16) {
            .colouredCell {
                background-color: #ffbb00;
            }
        }

        // rel
        &:nth-child(17),
        &:nth-child(18) {
            .colouredCell {
                background-color: #df1616;
            }
        }


        // arrow colours
        .colourPos svg {
            color: variables.$positive-colour;
        }

        .colourNeg svg {
            color: variables.$negative-colour;
        }

        // team icons
        .teamIcons {
            padding: 0.5rem 0.125rem 0.5rem;
            margin-top: 1rem;

            // display: inline;
            img {
                height: 1.75rem;
            }
        }


        // goal diff colours
        .colourPos {
            color: variables.$positive-colour;
        }

        .colourNeg {
            color: variables.$negative-colour;
        }


        // slightly delayed cursor highlight
        -webkit-transition: 0.075s 0.075s;

        &:hover {
            background-color: #d1d1d1;
        }
    }
}