@use '../../variables.scss';

.navbar {
    height: variables.$headerbar;

    background-color: white;

    position: sticky;
    top: 0;

    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    filter: drop-shadow(0 0 5px variables.$shadow-colour);

    // title
    .logo {
        margin: 1rem;

        @include variables.Encode-Sans;
        text-decoration: none;
        font-style: italic;
        font-size: 150%;
        color: variables.$primary-colour;
    }

    .menu {
        // margin-right: 1rem;

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;

        @include variables.Nanum-Gothic;
        font-size: 100%;

        .menuitems {
            position: relative;
            a {
                display: block;
                text-decoration: none;
            }

            button {
                // padding: 0.5rem;
                display: flex;
                align-items: center;
                text-align: center;
                // // outline-offset: 1rem;
                border: none;

                background-color: transparent;
                
                cursor: pointer;
                // min-width: 8rem;
                // width: 100%;
                // font-size: 110%;

                .menubars {
                    // background-color: transparent;
                    div {
                        background-color: variables.$primary-colour;
                        width: 2.3rem;
                        height: 3px;
                        margin: 0.5rem;
                        border-radius: 3px;
                    }
                }
            }
        }



        .dropdown {
            display: none;

            position: absolute;
            right: 0;
            left: auto;
            padding-top: 3px;
            
            // right: 50;
            // left: 50;
            // top: calc(100% + 1px) ;

            // font-size: 0.875rem;
            // z-index: 9999;
            // min-width: 8rem;
            min-width: 100vw;
            // padding: 1rem 0.5rem 0.5rem;

            background-color: variables.$main-colour;
            box-shadow: variables.$shadow-colour;
            
            a {
                color: black;
            }

            .smallLine {
                height: 1px;
                width: 100vw;
                background-color: rgb(231, 231, 231);
            }

            ul {
                list-style: none;
                padding-left: 1rem;
                li {
                    padding: 1rem;
                }
            }

            
        }

        .dropdownshow {
            @extend .dropdown;
            display: block;
        }
    }

    .leaguelist {
        position: sticky;
        display: flex;
        align-items: center;
        // flex-wrap: wrap;
        list-style: none;

        // background-color: red;

        .image {
            height: 1.2rem;
            margin: 0 1rem;
        }
    }
}