// $main-colour: #eeeeee;
$main-colour: white;

// $background-colour: #f1f1f1;
// $background-colour: #b80000;
// $background-colour: #242424;
$background-colour: rgb(240, 240, 240);

$shadow-colour: #cacaca;