@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@800&display=swap');

@mixin Nanum-Gothic {
  font-family: 'Nanum Gothic', sans-serif;
}

@mixin Encode-Sans {
  font-family: 'Encode Sans', sans-serif;
}



// $main-colour: #eeeeee;
$main-colour: white;
$text-colour: #7a7a7a;

// $background-colour: #f1f1f1;
$primary-colour: #b80000;
// $background-colour: #242424;
$background-colour: rgb(240, 240, 240);

$shadow-colour: #d3d3d3;

$positive-colour: rgb(0, 185, 0);
$negative-colour: red;

$resolution-breakpoints: (phone: 810px);

$headerbar: 3.5rem;
$footer: 5rem;

$ucl-colour: green;
$uel-colour: #4bcffc;
$uecl-colour: #95e3fd;
$rel-colour: #ffbb00;
$down-colour: #df1616;