@use '../../variables';

.title {
    background-color: variables.$main-colour;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0px;
    display: flex;

    filter: drop-shadow(1px 1px 1px variables.$shadow-colour);

    width: 15rem;
    height: 5rem;

    justify-content: center;
    align-items: center;

    .img {
        // width: 10rem;
        height: 2rem;
    }
}